html,body{
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}


/* Logo */

#logo .logo{
  padding: 30px 10px;
}

#logo .logo h1{
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}

/* Navbar */

#nav{
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
}

.search{
  margin-left: 60px;
}

.search i{
  background-color: #363940;;
  color: white;
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 50%;
}

.search i:hover{
  background-color: rgba(0, 0, 0, 0.7);;;

}

.navbar-nav a{
  font-size: 1.1em;
  margin: 4px 6px;
  text-transform: uppercase;
  color: #363940;;
}

.navbar-nav .nav-toggle{
  margin-top: 6px ;
}

.navbar-nav .nav-toggle:visited, .navbar-nav .nav-toggle:link, .navbar-nav .nav-toggle:hover{
  border: none;
}

/* Dropdown - itens */

.dropdown-menu .dropdown-item{
  font-size: 0.9em;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

/* Conteúdo */

#conteudo{
  height: 70%;
  background: url("https://images.unsplash.com/photo-1561566302-67abce51c2c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#conteudo .container{
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items:center;
}


#conteudo h1{
  background: #363940;
  color: #fff;
  padding: 20px 30px;

  font-size: 5em;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.recipes-title{
  margin: 30px 0;
  font-family: "Indie Flower", Arial;
  font-weight: 900;
}

.about-title{
  font-family: "Indie Flower", Arial;
  font-weight: 900;
  font-size: 2.5em;

}

.about-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.about-picture{
  margin: 15px 0px;
  width: 150px;
  border-radius: 50%;
}

.about-content p{
  padding: 0 15px;
}



/* Media queries */

@media (max-width: 991px){
  a.btn.dropdown-toggle.nav-toggle{
    margin-left: 5px;
    padding: 0;
  }

  .search{
    margin-top: 10px;
    margin-left: 5px;
  }


}