body{
  
  font-family: 'Roboto Condensed', sans-serif;
}


/* Logo */

#logo .logo{
  padding: 30px 10px;
}

#logo .logo h1{
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
}

/* Navbar */

#nav{
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
}

.search{
  margin-left: 60px;
}

.search i{
  background-color: #363940;;
  color: white;
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 50%;
}

.search i:hover{
  background-color: rgba(0, 0, 0, 0.7);;;

}

.navbar-nav a{
  font-size: 1.1em;
  margin: 4px 6px;
  text-transform: uppercase;
  color: #363940;;
}

.navbar-nav .nav-toggle{
  margin-top: 6px ;
}

.navbar-nav .nav-toggle:visited, .navbar-nav .nav-toggle:link, .navbar-nav .nav-toggle:hover{
  border: none;
}

/* Dropdown - itens */

.dropdown-menu .dropdown-item{
  font-size: 0.9em;
}

/* Dropdown - Config Mouse Hover */

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}


/* Home - Carousel */
.imagens-slide{
  width: 78%;
}


/* Media queries */



@media (max-width: 991px){
  a.btn.dropdown-toggle.nav-toggle{
    margin-left: 5px;
    padding: 0;
  }

  .search{
    margin-top: 10px;
    margin-left: 5px;
  }


}